@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-bottom: 50px;
    background-image: url("https://cdn.discordapp.com/attachments/783459212990611477/1081644953320566824/image.png");
    min-height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.alertDiv{
    border: 1px solid #eed3d7;
    background-color: #f2dede;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 400px;
    z-index: 999;
    padding: 5px;
}

.user-section{
    display:block;
    width:100%;
}

.user-item {
    margin:auto;
    display: flex;
    width:33%;
    padding: 10px
}
  
.user-info {
    background-color: #E0FAD6;
    flex-grow: 1;
    width:50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 15px;
}
  
.user-info h3 {
    margin: 0;
}

.user-buttons{
    display:flex;
    flex-direction: column;
}
  
.user-buttons button {
    margin-left: 10px;
    position:relative;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.user-buttons button:hover {
    background-color: white;
    color: lightgray;
}

.user-buttons button:hover::before {
    content: attr(data-label);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 12px;
}  

.user-connect{
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close-user-connect{
    float: right; 
    background-color: red; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: -10px; 
    margin-right: -10px;
}

#showMeSomeProfiles{
    padding:5px;
    background-color: #90E76F;
    border-radius: 5px;
    cursor:pointer;
}

#showMeSomeProfiles:hover{
    background-color: #E0FAD6;
}

#user-profile{  
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #E0FAD6;
    width: 33%;
    padding: 15px;
}

#user-profile input{
    border: 1px solid lightgray;
    height: 30px;
    border-radius: 5px;
}

#user-profile button{
    background-color: #90E76F;
    color: white;
    border: none;
    border-radius:5px;
}

.user-profile-button{
    background-color: #90E76F;
    color: white;
    border: none;
    border-radius:5px;
    cursor: pointer;
    padding: 2px 12px 3px 12px;
    text-decoration: none;

}

#noMatches{
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    background-color: #E0FAD6;
    width: 33%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2)
}

.passUser{
    background-color: #90E76F;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#user-contact{
    text-align:center;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #E0FAD6;
    width: 33%;
    padding: 15px;
}

#user-contact label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

#user-contact input {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

#user-contact textarea{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

#user-contact button{
    width: 52%;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: #90E76F;
    color:white;
}

#overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}
  
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.topnav {
    display: flex;
}

.matches{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.welcome-section{
    margin: auto;
    margin-bottom:50px;
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #E0FAD6;
    padding-left: 15px;
    padding-bottom: 15px;
}

.welcome-section button{
    border: none;
    border-radius: 5px;
    background-color: #90E76F;
    color: white ;
    padding: 10px;
}

.logo{
    width:15%; height:auto;
}

.welcome-section button:hover{
    background-color: white;
    color: #90E76F;
}

#signinAccountGoogle:hover {
    background-color: #4285F4;
    color: white;
    border: 2px solid #4285F4;
    box-shadow: 0 0 5px #4285F4;
    transition: all 0.2s ease-in-out;
}  

#signupAccountGoogle:hover {
    background-color: #4285F4;
    color: white;
    border: 2px solid #4285F4;
    box-shadow: 0 0 5px #4285F4;
    transition: all 0.2s ease-in-out;
}  

.welcome-section input{
    width: 50%;
    padding-left: 15px;
    border: none;
    border-radius:25px;
    min-height: 42px;
}

.welcome-section select{
    height: 30px;
    border-radius: 5px;
}

.limbo-state{
    margin: auto;
    margin-bottom:50px;
    width: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #E0FAD6;
    padding-left: 15px;
    padding-bottom: 15px;
}

.limbo-state input, textarea,select{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 7.5px;
}

.limbo-state button{
    border: none;
    border-radius: 25px;
    background-color:#90E76F;
    color:white;
    padding:10px;
    width:50%;  
}

.limbo-state button:hover{
    background-color: white;
    color:#90E76F
}

.row {
    content: "";
    display: table;
    clear: both;
}

.columnR {
    float: left;
    padding: 10px;
}
  
.columnL {
    float: left;
    text-align: right;
    width: 50%;
    padding: 10px;
}

.user-questions{
    display:none;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: #E0FAD6;
    width: 33%;
    padding: 15px;
}

.hellothere a{
    color:#551a8b;
    text-decoration: none;
}
  
.hellothere label {
    border:1px solid #ccc;
    border-radius:5px;
    width:75%;
    padding:10px 20px;
    margin:5px;
    display:block; 
}
   
.hellothere label:hover {
    background:#eee;
    cursor:pointer;
}

.hellothere input:checked+label {
    background-color: green;
}

.matchButtonList{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

footer {
    color:white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}

.footer-section-about{
    float:left;
}

.footer-section-contact{
    padding-top:15px;
    float:right;
}

@media(max-width:1500px){
    .user-item{
        width: 50%;
    }
}

@media(max-width:1100px){
    .user-item{
        width:75%;
    }
    .logo{
        width:20%; height:auto;
    }
}

@media(max-width:1000px){
    .user-item{
        width:100%;
    }
    .welcome-section, .limbo-state, #user-questions{
        width: 75%;
    }
    .user-section{
        width:75%;
    }
    #user-profile, #user-contact{
        width:50%;
    }
    .sidenav{
        width: 0;
    }
}

@media (max-width: 650px) {
    .row::after,
    .columnR,
    .columnL {
        float: none;
        width: auto;
        text-align: left;
        padding: 0;
    }
    #user-profile, #user-contact, #noMatches{
        width:85%;
    }
    .logo{
        width:30%; height:auto;
    }
    .hellothere label{
        width:50%;
    }
}

@media(max-width:500px){
    .welcome-section, .limbo-state, #user-questions, #user-section{
        width: 99%;
    }
    .hellothere label{
        width: 70%;
    }
    #user-contact{
        width:100%;
    }
}

@media(max-width:375px){
    #user-section{
        height: 300px;
    }
}
